<body>
  <div class="wrapper">
    <app-header></app-header>
      <main>
        <section class="py-5 text-center container">
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="title-home">Control de Inventario</h1>
            </div>
          </div>
        </section>

        <div class="album py-5 bg-body-tertiary">
          <div class="container">
            <div class="row">
              <div class="col-sm-4 col-md-4 d-flex">
                <button type="button" class="btn-back m-0 p-0" (click)="getBack()">
                  Regresar
                </button>
                &nbsp;
                <button type="button" class="btn-new m-0 p-0" (click)="addData()">
                  Ingreso
                </button>
              </div>
            </div>
            &nbsp;
            &nbsp;
            <div class="row">
              <div class="table-responsive">
                <table class="table table-success table-striped table-bordered table-sm">
                  <thead>
                    <tr>
                      <th scope="col">Lote</th>
                      <th scope="col">Producto</th>
                      <th scope="col">Stock</th>
                      <th scope="col">Fecha de Vencimiento</th>
                      <th scope="col">Precio Compra</th>
                      <th scope="col">Precio Venta</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>

                  <tbody>
                    @if (inventoryData.length === 0) {
                      <tr>
                        <td colspan="8" class="text-center">No hay registros disponibles</td>
                      </tr>
                    } @else {
                        @for (data of inventoryData; track data.id) {
                          <tr class="text-center align-middle">
                            <td class="col-sm-3">{{ data.batch }}</td>
                            <td class="col-sm-2">{{ data.product.name }}</td>
                            <td class="col-sm-2">{{ data.stock }}</td>
                            <td class="col-sm-2">{{ data.dueDate | date: 'medium'}}</td>
                            <td class="col-sm-2">{{ data.purchasePrice }}</td>
                            <td class="col-sm-2">{{ data.salePrice }}</td>
                            <td class="col-sm-4 col-md-4 align-middle">
                              <div class="d-flex justify-content-center">
                                <button class="btn-view btn btn-success btn-sm me-2" (click)="seeInformation(data.id)">
                                  Ver
                                </button>
                                <button class="btn-edit-cus btn btn-primary btn-sm me-2" (click)="update(data.id)">
                                  Editar
                                </button>
                                <button class="btn-delete-cus btn btn-danger btn-sm" (click)="delete(data.id)">
                                  Eliminar
                                </button>
                              </div>
                            </td>
                          </tr>
                      }
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </main>
    <app-footer></app-footer>
  </div>
</body>
