<body>
  <div class="wrapper">
    <app-header></app-header>
      <main>
        <section class="py-5 text-center container">
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="title-home">{{ title }}</h1>
            </div>
          </div>
        </section>

        <div class="album py-5 bg-body-tertiary">
          <div class="container">
            <div class="row justify-content-center">
              <div class="mx-auto">
                <form [formGroup]="form" (submit)="saveOrUpdate()">
                  <div>
                    <label class="form-label">Descripción</label>
                    <input type="text" class="form-control" formControlName="description" placeholder="">
                    @if (showError('description')) {
                      <div class="message">
                        {{ getErrorMessage('description') }}
                      </div>
                    }
                  </div>
                  <div>
                    <label class="form-label">Dirección</label>
                    <input type="text" class="form-control" formControlName="address" placeholder="">
                    @if (showError('address')) {
                      <div class="message">
                        {{ getErrorMessage('address') }}
                      </div>
                    }
                  </div>
                  <div>
                    <label class="form-label">Teléfono</label>
                    <input type="text" class="form-control" formControlName="phone" placeholder="">
                    @if (showError('phone')) {
                      <div class="message">
                        {{ getErrorMessage('phone') }}
                      </div>
                    }
                  </div>
                  <div>
                    <label class="form-label">Correo</label>
                    <input type="text" class="form-control" formControlName="email" placeholder="">
                    @if (showError('email')) {
                      <div class="message">
                        {{ getErrorMessage('email') }}
                      </div>
                    }
                  </div>

                  @if (see) {
                    <div>
                      <label class="form-label">Fecha de Registro</label>
                      <input type="text" class="form-control" formControlName="registerDate" placeholder="">
                    </div>
                    <div>
                      <label class="form-label">Usuario Registro</label>
                      <input type="text" class="form-control" formControlName="registerUser" placeholder="">
                    </div>
                    <div>
                      <label class="form-label">Estado</label>
                      <input type="text" class="form-control" formControlName="status" placeholder="">
                    </div>
                    <div>
                      <label class="form-label">Fecha de Actualización</label>
                      <input type="text" class="form-control" formControlName="updateDate" placeholder="">
                    </div>
                    <div>
                      <label class="form-label">Usuario Actualización</label>
                      <input type="text" class="form-control" formControlName="updateUser" placeholder="">
                    </div>
                  }
                  &nbsp;
                  &nbsp;
                  <div class="row button-row justify-content-center">
                    <div class="col-sm-12 text-center">
                      @if (create || edit) {
                        <button class="btn-new-cus" type="submit" [disabled]="!form.valid">Guardar</button>
                        &nbsp;
                      }
                      <button type="button" class="btn-back-cus" (click)="getBack()">Regresar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
    <app-footer></app-footer>
  </div>
</body>

