<div class="album py-5 bg-body-tertiary">
  <div class="container-fluid">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="title-home">Completar Pedido</h1>
    </div>
    &nbsp;
    &nbsp;
    <div class="row">
      <form [formGroup]="form" (submit)="save()">
        <div class="form-floating">
          <input type="text" class="form-control" formControlName="product" placeholder="">
          <label>Producto</label>
        </div>

        <div class="form-floating">
          <input type="text" class="form-control" formControlName="batch" placeholder="">
          <label>Lote</label>
        </div>

        <div class="form-floating">
          <input type="date" class="form-control" formControlName="dueDate" placeholder="">
          <label>Fecha de Vencimiento</label>
          @if (showError('dueDate')) {
            <div class="message">
              {{ getErrorMessage('dueDate') }}
            </div>
          }
        </div>

        <div class="form-floating">
          <input type="text" class="form-control" formControlName="price" placeholder="">
          <label>Precio de Compra</label>
        </div>

        <div class="form-floating">
          <input type="text" class="form-control" placeholder="" [(ngModel)]="marginPercentPrice" (ngModelChange)="calculateSalePrice()" [ngModelOptions]="{standalone: true}">
          <label>Margen (En Porcentaje)</label>
        </div>

        <div class="form-floating">
          <input type="text" class="form-control" formControlName="salePrice" placeholder="">
          <label>Precio Sugerido</label>
          @if (showError('salePrice')) {
            <div class="message">
              {{ getErrorMessage('salePrice') }}
            </div>
          }
        </div>
        &nbsp;
        &nbsp;
        <div class="row">
          <div class="col-sm-12">
            <button class="btn-new w-100 py-2" type="submit" [disabled]="!form.valid">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
